/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@blue :#043d91;
@navlinks: #FFF;
@navlinks-hover: #FFF;
@rounded-radius: 0 30px ;
@padding: 1em;
@opacity: 0.92;
@circleBorder: 7px solid rgba(255,255,255,0.75);


@screen-sm-min: 480px;

/* ==========================================================================
   Base
   ========================================================================== */
html {min-height: 100%;}
body {
  min-height: 100%;
  height: 100%;
  background: #010e70 url('../img/bgs/face.jpg') no-repeat;
  background-size: cover;

}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
  opacity: @opacity;
  background-color: @blue;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  min-width: 100%;
  width: 100%;


  .navbar-nav > li > a {
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    color: @navlinks;
  }
  .navbar-nav > li > a:hover {
    color: @navlinks-hover;
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: @blue;
    background: white;
  }
  .navbar-nav > li > a {
    color: #FFF;
  }

}

.navbar-header {
  h1 {
    position: absolute;
    color: rgba(255,255,255,0.3);
    font-weight: 300;
    font-size: 27px;
    line-height: 39px;
    display: none;
    letter-spacing: -1px;
  }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content {
  // background: rgba(237,249,206,@opacity);
  padding: @padding*5 @padding @padding;
  position: relative;
  #testDiv {
    font-family: 'Open Sans', sans-serif;
    padding: @padding *2;
    border-radius: @rounded-radius;
    border: @circleBorder;
    background-clip: padding-box;
    background: rgba(12,51,191,0.87);
    color: #EEE;
    margin: 0;
    font-weight: 300;
    font-size: 1.2em;
    p {
      margin: 0 0 1.4em 0;
      padding: 0 1em;
      img {
        margin-left: -1em;
        max-width: 106%;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1.5em;
      border-radius: 0 14px;
      border: 7px solid rgba(0,0,0,0.2);
    }
    h4 {font-weight: 600;}
    ul {margin: 0.8em 0em 2em;}
    li {
      margin-bottom: 6px;
      line-height: 24px;
      list-style: none;
    }
    li:before {
      content: "\f110";
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      font: normal 24px/1 'dashicons';
      margin-left: -35px;
      position: absolute;
      word-wrap: break-word;
    }
    a {font-weight: 600;}
  }
}


.page-header {
  margin: 0 0 10px 10px;
  border-bottom: 0;
  h1 {
    font-size: 3.33em;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 7px #000;
  }
}


body.location {
//  background-image: url('../img/bgs/midBG.jpg');
  .content #testDiv {background: rgba(217,78,0,@opacity);}
}


// INSTALLATIONS
///////////////////////////////////////////////////////////////////////////

body.installations {
  .content #testDiv {
    background: rgba(170,15,15,@opacity);
    li {margin: 0 0 1em 0.5em; font-size: 125%;}
    li:before {
      margin-left: -50px;
      font-size: 150%;
      content: "\f107";
      color: #870400;
      text-shadow: -1px -1px 0 #CCC, 1px -1px 0 #CCC, -1px 1px 0 #CCC, 1px 1px 0 #CCC,;
    }
  }
}


// THERMODOME
///////////////////////////////////////////////////////////////////////////

body.thermodome-cafe {
//  background-image: url('../img/bgs/dome2.jpg');
  .content #testDiv {background: rgba(209,109,77,@opacity);}
}


body.dj-lineup {
//  background-image: url('../img/bgs/djsBG.JPG');
}

// CRASH
///////////////////////////////////////////////////////////////////////////

body.crash {
//  background-image: url('../img/bgs/crashBG.jpg');
  .content #testDiv {background: rgba(92,103,133,@opacity);}
}


// CAMPING
///////////////////////////////////////////////////////////////////////////

body.camping {
//  background-image: url('../img/bgs/campBG.jpg');
  .content #testDiv {
    background: rgba(15,88,5,@opacity);
    h4 {color: #ffcb57;}
    .packing li:before {content: "\f147"; color: #62c127;}
    .prohibited li:before {content: "\f335"; color: #c82948;}
  }
}


// TICKETS
///////////////////////////////////////////////////////////////////////////

body.tickets {
//  background-image: url('../img/bgs/tix.jpg');
  .content #testDiv {
    background: rgba(90,52,95,@opacity);
    h3 {color: #ffcb57; font-weight: 600;}
    .pricing li:before {content: "\f323"; color: #a2d663; font-size: 110%; margin-top: 2px;}
    .locations li:before {content: "\f230"; color: #5fa8cd; font-weight: bold;}
  }
}


// BUSES
///////////////////////////////////////////////////////////////////////////

body.buses {
  .content #testDiv {
    background: rgba(148,83,96,@opacity);
    ul {margin-top: 2.5em;}
    li {margin-top: 1.5em;}
    li:before {
      content: "\f488";
      color: #ffd05e;
      font-size: 150%;
    }
  }
}


// CIRCUS
///////////////////////////////////////////////////////////////////////////

body.circus {
//  background-image: url('../img/bgs/circusBG.jpg');
}


// PHOTOS
///////////////////////////////////////////////////////////////////////////

body.photos {
//  background-image: url('../img/bgs/angelaRock.jpg');
}

// PYRAMID
///////////////////////////////////////////////////////////////////////////

body.the-pyramid {
//  background-image: url('../img/bgs/pyrBG.jpg');
  .content #testDiv {
    color: #333;
    font-weight: 400;
    background: rgba(233,167,26,@opacity);
    a {color: #8F440E; padding: 5px 7px; border-radius: 7px; }
    a:hover {background: rgba(255,255,255,0.5); }
  }
}


// NEWS / BLOG
///////////////////////////////////////////////////////////////////////////

body.blog, body.single {
//  background-image: url('../img/bgs/foggy.jpg');
  .content #testDiv {
    padding: @padding @padding*2;
    background: rgba(146,38,42,@opacity);
    margin-bottom: 2em;
    h2 a {color: #FFF !important; font-weight: 400; font-size: 125%; margin-left: 50px;}
    h2 a:before {
      content: "\f348";
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      font: normal 48px/1 'dashicons';
      margin-left: -60px;
      margin-top: -2px;
      position: absolute;
      word-wrap: break-word;
      color: rgba(255,255,255,0.5)
    }
    h1 {color: #da7885;}
    article {
      a {color: #ddde50;}
      p.author {display: none;}
      time {
        display: inline-block;
        margin-bottom: 1.2em;
        text-transform: uppercase;
        font-size: 84%;
        color: #da7885;
        margin-left: 55px;
      }
      .entry-summary {
        padding-left: 50px;
      }
    }

  }
}


// CONTACT US
///////////////////////////////////////////////////////////////////////////

body.contact-us {
//  background-image: url('../img/bgs/blue_water.jpg');
  .content #testDiv {
    background: rgba(0,136,154,@opacity);
    a {color: #67edff; font-size: 125%; font-weight: 400}
    ul {margin-top: 1em;}
    li {margin-top: 0.7em;}
    .group li:before {
      content: "\f465";
      color: #FFF;
      font-size: 28px;
    }
    .individual  li:before {
      content: "\f110";
      color: #d6f258;
      font-size: 26px;
    }
  }
}



/* ==========================================================================
   Homepage Content
   ========================================================================== */

#keyshot {
  position: absolute;
  top: 5%;
  height: 90%;
  z-index: 30;
}

#keyshot-top {
  position: absolute;
  bottom: 5%;
  height: 51%;
  z-index: 50;
}

.roundSlideshow {
  position: absolute;
  bottom: 5%;
  z-index: 40;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  overflow: hidden;
  background: white;
  border: 10px solid #FFF;
  img {
    min-height: 300px;
    min-width: 400px;
    margin-left: -75px;
    margin-top: -20px;
    position: absolute;
  }
}
#leftSlider {
  left: 5%;
}
#rightSlider {
  right: 5%;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.thumbnail {
  border: 0;
  padding: 0;
  background: transparent;
  img {
    border-radius: 50%;
    border: @circleBorder;
  }
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
  right: 0;
  position: relative;
  .widget {
    font-size: 120%;
    li {color: white;}
    h3 {
      color: #acca11;
      text-shadow: 1px 1px 7px #000;
      font-size: 28px;
      text-transform: uppercase;
//      letter-spacing: 2px;
      font-weight: bold;
      text-align: center;
    }
    a {color: #ebce0f; font-weight: 400;}
    margin: 1em 0;
    max-width: 340px;
    min-width: 284px;
  }
}

section.widget_search .input-group {
  border: 10px solid transparent;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */
footer {height: 50px; display: none;}
.content-info { color: white;}



/* ==========================================================================
   DJs
   ========================================================================== */

.dj-grid {
  margin-left: -4em;
  li {
    min-width: 225px;
    font-family: 'Open Sans', sans-serif;
    list-style: none; float: left; width: 25%;  min-height: 360px; text-align: center;
    a {width: 190px; color: #FFF}
    a:hover {text-decoration: none; }
    h2 {font-size: 1.5em; margin: 0.75em 0 -0.5em;  line-height: 1; text-shadow: 0 0 7px #000;}
    h3 {font-size: 1em; line-height: 0.8em; font-weight: 300; color: #DDD;text-shadow: 0 0 5px #000;}
    h4 {
      font-size: 0.92em;
      line-height: 1;
      font-weight: 400;
      background: #c5371c;
      color: #FFF;
      display: inline-block;
      padding: 0.75em 1.5em;
      border: 3px solid #FFF;
      border-radius: @rounded-radius;
    }

    h4.AtTheHeads {background: #ae281b; color: white}
    h4.ThePyramid {background: #eec325; color: #333}
    h4.TheForest {background: #89a700; color: white;}
    h4.Crash {background: #999; color: black;}
    h4.ThermodomeCafe {background: #a8cbef; color: #1c5a99}
    .thumb {
      height: 184px;
      width: 184px;
      margin: 0 auto;
      border-radius: 184px;
      padding: 15px;
      background: rgba(255,255,255,0.1);
      border: 2px solid rgba(255,255,255,0);
    }
    img {
      border: 3px solid rgba(255,255,255,0.9);
//      box-shadow: 0 0 25px rgba(255,255,255,0.8);
      height: 150px;
      width: 150px;
      border-radius: 150px;
      overflow: hidden;
    }
  }
}
.dj-grid:after {
  content: '';
  clear: both;
  display: block;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: @screen-sm-min) {

  .content {
    padding-left: 0.5em;
    padding-right: 0.5em;
    #testDiv {
      padding: 2em 1em 0 1.5em;
      p {
        padding: 0;
      }
    }
  }

  #leftSlider {
    left: 5%;
  }
  #rightSlider {
    right: 5%;
  }

  .navbar-header h1 {
    display: block;
  }


}


@media (min-width: @screen-md-min) {

}

@media (min-width: @screen-lg-min) { }
